<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768304383064-65r1r6rtfi373fvbdh3aaptaoi3aqfv5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768304383064-65r1r6rtfi373fvbdh3aaptaoi3aqfv5</string>
	<key>API_KEY</key>
	<string>AIzaSyA9AuRhdJEIbWqu4y3wMcby9GG0ms0CY7A</string>
	<key>GCM_SENDER_ID</key>
	<string>768304383064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thidarphyo.Face-ID-Login-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>faceidloginswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>faceidloginswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768304383064:ios:d7e7fce542e9cd0edcb62d</string>
</dict>
</plist>